body {
  background: #eee;
  div.App {
    div.form {
      padding: 40px;
      background: white;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
      div.formRow {
        margin: 10px 0;
      }
      h2,
      p {
        text-align: center;
      }
      input,
      button {
        padding: 13px 20px;
        font-size: 14px;
        border-radius: 4px;
        border: solid 0.5px #adb9c1;
        outline: none;
      }
      input {
        width: 228px;
      }
      button {
        width: 100%;
        color: #fff;
        border: 1px solid #4eb1f4;
        -webkit-tap-highlight-color: transparent;
        background-color: #4eb1f4;
      }
    }
    .loading {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center;
    }
  }
}
