body {
  background: #eee;
  div.App {
    div.form {
      padding: 40px;
      border: solid 0.5px #adb9c1;
      background: white;
      div.formRow {
        margin: 10px 0;
      }
      h2,
      p {
        text-align: center;
      }
      input,
      button {
        padding: 13px 20px;
        font-size: 14px;
      }
      input {
        width: 228px;
      }
      button {
        width: 100%;
      }
    }
    .loading {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center;
    }
  }
}
