.panel {
  width: 500px;
  display: flex;
  flex-direction: column;
  .currentSession {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #c2c2c2;
  }
  .messageList {
    flex: 3;
  }
  .messageSender {
    position: relative;
    flex: 1;
    textarea {
      display: flex;
      width: 100%;
      resize: none;
      height: 100%;
      outline: none;
      padding: 10px;
    }
    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}
