.panel {
  width: 500px;
  display: flex;
  flex-direction: column;
  .currentSession {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #c2c2c2;
  }
  .messageList {
    flex: 3;
    overflow: auto;
    word-break: break-all;
    .messageItem {
      display: flex;
      margin: 15px;
      .messageText {
        border-radius: 10px;
        background: #c2c2c2;
        padding: 8px;
      }
      svg {
        width: 40px;
        height: 40px;
      }
      &.reverse {
        flex-direction: row-reverse;
        .messageAuthor {
          display: flex;
          justify-content: flex-end;
        }
        .messageText{
          background: lightblue;
        }
      }
    }
  }
  .messageSender {
    position: relative;
    flex: 1;
    textarea {
      display: flex;
      width: 100%;
      resize: none;
      height: 100%;
      outline: none;
      padding: 10px;
    }
    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: lightblue;
      padding: 5px 10px;
      border: none;
      border-radius: 10px;
    }
  }
}
