.sidebar {
  text-align: center;
  width: 70px;
  background: #fcfdfb;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .username {
    word-wrap: break-word;
    color: #dbdbdb;
    margin-bottom: 15px;
  }
  svg {
    width: 40%;
    height: 50px;
    fill: #dbdbdb;
    cursor: pointer;
  }
}
